@media (min-width: 400px){

    .navigation{
        margin: auto 5px;
        display: block;
    }

    .hamburguer{
        display: none;
    }
    h1{
        padding-left: 5px;
    }
nav ul {
    display: flex;
}
  li {
        flex: 1 1 100%;
        justify-items: center;
        text-align: center;
        align-content: center;
    }

    .current a{
        color: var(--tertiary-accent)
    }
    a{
        color: var(--secondary-accent);
    }

    /*Information Container*/
    .grid-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;  
    }

    .photo-section{
        height: 100%;
    }

    .span-item{
        grid-column: span 2;
        
    }
    section img{
        padding: 5px;
        width: 50%;
        height: auto;
        margin: auto 0;
    }

/* Courses container*/
.courses-container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}


/*Footer*/
#lastModify, #currentYear, footer p{
    font-size: 15px;
}

}
