:root {
    --primary-color: #5f738d8e;
    --secondary-color: #3f436b;
    --tertiary-color: #c3d3dd;
    --primary-accent: #e6e6e6;
    --secondary-accent: #c6cce0;
    --tertiary-accent: #050709;
    --primary-fonts: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--primary-fonts);
    text-align: center;
}
h1, footer{
    padding: 1rem;
}

h2{
    color: var(--primary-accent);
}
main{
    margin: auto 1rem;
    box-shadow: 5px 5px 50px 5px var(--secondary-color) ;
}
#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin: auto 0;
    padding: 1rem;
    gap: 5px;
}

#cards section{
    background-color: var(--primary-color);
    border: solid 2px var(--secondary-color);
}

#cards img{
    box-shadow: 5px 5px 50px 10px var(--tertiary-accent);
    margin: 1rem;
}

 p{
    font-style: italic;
    color: var(--tertiary-accent);
}
