:root {
    --primary-color: #8d5f8c8e;
    --secondary-color: #6b3f69;
    --tertiary-color: #DDC3C3;
    --primary-accent: #ffffff;
    --secondary-accent: #dcc6e0;
    --tertiary-accent: #050709;
    --span-fonts: "Cherry Bomb One", system-ui;
    --primary-fonts: "Quicksand", sans-serif;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-fonts);

}

span {
    font-family: var(--span-fonts);
    font-weight: normal;
    font-size: 25px;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    margin: auto 5px;
}

header {
    padding: 5px;
    margin-bottom: 5px;
    display: grid;
    gap: 8px;
    grid-template-columns: 40px auto 44px;
    border-bottom: solid 1px #ddd;
    align-self: end;
    background-color: var(--primary-color)
}

header img {
    width: 100%;
    height: 100%;
    justify-self: center;
    padding-left: 1rem;
}

.hamburguer {
    background: none;
    border: none;
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7";
    font-size: x-large;
}

/*------------Navigation bar--------------*/

nav {
    margin-top: 1rem;
    background-color: var(--secondary-color);
    border: solid 2px black;
    text-align: left;
}

ul {
    margin: 0;
    list-style-type: none;
}

.current a {
    color: var(--tertiary-accent)
}

a {
    color: var(--secondary-accent);
    display: block;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    border: solid 1px black;
}

.navigation {
    margin: 1rem;
    display: none;
}

.navigation.show {
    display: block;
}


.navigation li.current {
    background-color: var(--secondary-accent);
    font-weight: bold;
}

h2 {
    display: block;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--secondary-accent);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 6px;
}

section {
    border: solid 2px black;
    width: 100%;
    height: auto;
}

/*----------------Main----------------*/

/*Grid Container*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: auto 5px;
}

section img {
    width: 80%;
    height: auto;
    padding: 1rem;
}

.photo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

/*Courses Container*/
.button-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    padding: 5px;
}

.btn-1,
.btn-2,
.btn-3 {
    transition: background-color 0.5s ease;
    background-color: var(--tertiary-color);
    color: var(--tertiary-accent);
    font-size: 100%;
    border-radius: 5px;
    font-family: var(--primary-fonts);
    font-weight: bolder;
    padding: 5px;
}

#active_btn {
    background-color: var(--secondary-accent);
    color: var(--secondary-color);
}

/*Courses Container*/
.span-item {
    border: none;

}

.courses-container {
    display: grid;
    grid-template-columns: auto;
    gap: 4px;
    margin: 5px;
    text-align: center;
}

.courses-container section {
    background-color: var(--tertiary-color);
    color: var(--tertiary-accent);
    border-radius: 5px;
    font-size: smaller;
}

/*Sum of credits container*/
.credits-container {
    padding: 5px;
    text-align: center;
}

/*Modals*/


dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
}

/*----------------Footer----------------*/

footer {
    font-size: 13px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icons a {
    padding-bottom: 0;
}

#lastModify,
#currentYear {
    font-family: var(--primary-fonts);
    font-size: 13px;
}

.author-info,
.last-modify {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 3px;
}