:root{
    --main-color:  #061830;
    --secondary-color: #00B1FA;
    --third-color: #004666;
    --accent-color: #e4f1fe;
    --secondary-accent-color: #1B365C;
    --tertiary-accent-color: #fefefe;
    --title-font: "Bitcount Prop Single", system-ui;
    --body-font: "Quicksand", sans-serif;
}
*{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-family: var(--title-font);
    background-color: var(--main-color);
    font-weight: normal;
    color: var(--accent-color);
    margin-bottom: 1.5rem;
}
/*Nav bar*/
header{
    background-color: var(--main-color);
    color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    justify-content: center;
    gap: 10px;
}

nav{
    grid-column: span 2;
}

header img{
    border-radius: 20px;
}

footer{
    background-color: var(--main-color);
    color: var(--accent-color);
    text-align: center;
    padding: 10px;
}

body{
    height: 100%;
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--secondary-color);
    color: var(--secondary-accent-color);
}


.welcome-container{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--third-color);
    border-radius: 8px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.welcome-container h2{
    font-family: var(--title-font);
    color: var(--tertiary-accent-color);
    font-weight: normal;
    text-align: center;
}
.welcome-container img{
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.welcome-container p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--tertiary-accent-color);
    text-align: center;
}

.welcome-container-images{
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
}
.groups{
    display: grid;
    grid-template-rows: 2fr .5fr;
    justify-items: center;
    border: 1px solid var(--secondary-accent-color);
    border-radius: 20px;
}

.welcome-container-images a{
    display: block;
    width: 80px;
    height: 15px;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--accent-color);
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}


.welcome-container-images figcaption{
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: var(--secondary-accent-color);
}

/*Review submission */

.review-container{
    max-width: 800px;
    height: 370px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: var(--third-color);
    color: var(--tertiary-accent-color);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content: center;
}

.review-container p{
    font-size: 1.2rem;
    line-height: 1.6;
    
}

/*Form style*/
form {
    margin: 20px auto;
    margin-bottom: 20px;
    padding: 20px;
    padding: 1rem;
    max-width: 600px;
    color: var(--tertiary-accent-color);
    background-color: var(--third-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-family: var(--title-font);
    background-color: var(--main-color);
    color: var(--accent-color);
    margin-bottom: 1.5rem;
}

label,
div {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
}

select,
input[type="text"],
textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.rating-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.rating-group label {
    display: flex;
    flex-direction: column-reverse;
    font-size: smaller;
    color: var(--tertiary-accent-color);
    text-align: center;
}


.checkbox-group {
    margin-top: 1rem;
}

.checkbox-group label {
    display: block;
    margin-top: 0.5rem;
}

input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--secondary-accent-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;
}


/*Artist list*/
.container-artists img{
    width: 80%;
    height: auto;
    border-radius: 8px;
}
.container-artists, .container-artists p {
    text-align: left;
    max-width: 800px;
    color: var(--secondary-accent-color);}

.container-artists section {
    margin: 10px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 15px;
}
.container-artists h3 {
    font-family: var(--title-font);
    color: var(--secondary-accent-color);
    text-align: center;
    font-weight:bold;
    margin-top: 0;
}
/*Small view navigation*/
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--accent-color);
 	position: absolute;
	top: 2.5rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.nav-burguer-view{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--third-color);
}

.nav-burguer-view a{
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color:var(--tertiary-accent-color);
}

.open a{
    display: block;
}

.tab::before {
  margin: 0;
}

.tab:target::before {
  content: "➡️";
}

.open a:hover{
    background-color: var(--secondary-color);
    color: var(--secondary-accent-color);
    font-weight: bold;
    border-radius: 10px;
}