@media (min-width: 1024px) {

    /*#region header*/

    header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .navigation{
        display: block;
    }

    #nav-bar, #nav-bar a{
        background: none;
        border: none;
        color: var(--accent-color);
    }
    .navigation ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        min-width: 300px;
    }
    .hamburguer{
        display: none;
    }
   
    /*#endregion header*/

/*#region home page*/
    html,
    body {
        height: 100%;
        scroll-behavior: smooth;
    }

    body {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }

    .fullscreen {
        height: 100vh;
        opacity: 0;
        scroll-snap-align: start;
        transform: translateY(50px);
        transition: all 1s ease ;
    }

  
    
    .fullscreen.show {
        opacity: 1;
        transform: translateY(0);

    }
    section {
        display: flex;
        align-items: center;
        justify-content: center;
    }


.section-two, .section-three{
    display: flex;
    justify-content: center;}

   
    
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
        justify-self: center;
        grid-template-areas:
            "h2 h2"
            "img desc"
            "img btn";
        gap: 20px;
    }

    .artist {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
        justify-self: center;
        grid-template-areas:
            "h2 img"
            "desc img"
            "btn img";
        gap: 10px;
    }

    .artist img{
        margin-left: 50px;
    }

    .hero img,
    .artist img,
    .join img {
        grid-area: img;
        box-shadow: 2px 2px 93px 1px var(--accent-color);
     

    }

    .hero p,
    .artist p,
    .join p {
        grid-area: desc;
        justify-self: center;
        align-content: end;
        text-align: justify;

    }

    .hero h2,
    .artist h2,
    .join h2 {
        justify-self: center;
        grid-area: h2;

    }

    .hero h1 {
        grid-area: title;
    }

    .hero button,
    .artist button,
    .join button {
        grid-area: btn;
        align-self: self-start;
    }
    main {
  flex: 1;
}


  /*#endregion home page*/

  /*#region artists page*/
  .artist-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }

  .artistSection{
    min-height: 342px;
    display: flex;
    flex-direction: column;
    background: none;
    border: solid 2px var(--fourth-color);
  }
  .artistSection h2{
    color: var(--accent-color);
  }
  .artistSection p{
    color: var(--tertiary-accent-color);
  }
  .artistSection:nth-child(3n+1){
    background: none;
    border: solid 2px var(--secondary-color);
  }
 
  /*#engregion artist page*/

    /*Footer*/

    footer{
        scroll-snap-align: none;
        min-height: 100px;
        margin-top: 15px;
    }
}