:root {
    --main-color: #061830;
    --secondary-color: #00B1FA;
    --third-color: #004666;
    --fourth-color: #cd51fa;
    --accent-color: #e4f1fe;
    --secondary-accent-color: #1B365C;
    --tertiary-accent-color: #fefefe;
    --title-font: "Bitcount Prop Single", system-ui;
    --body-font: "Quicksand", sans-serif;

}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

/*#region hamButton*/
#nav-button {
    content: none;
    min-width: 30px;
}

.navigation {
    display: none;
    grid-area: header-nav;
}

.navigation.show  {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    }

.navigation.show a{
    color: var(--secondary-accent-color); 
    min-height: 50px;
    align-content: center;
}

.hamburguer {
    background: none;
    border: none;
    font-size: 0;
    grid-area: header-btn;
}

.hamburguer::before {
    content: "≡";
    color: var(--accent-color);
    font-size: 30px;
}

.hamburguer.show::before {
    content: "\00D7";
    font-size: 30px;
    color: var(--accent-color);
}

/*#endregion hamButton*/
/*#region header*/
header,
body {
    background-color: var(--main-color);
}

header{
    display: grid;
    grid-template-areas: 
    "header-p header-img header-btn"
    "header-nav header-nav header-nav";
    align-items: center;
}

header img {
    grid-area: header-img;
    border-radius: 50%;
    width: auto;
    justify-self: center;
}

nav a:hover {
    text-decoration: underline;
}



nav a {
    display: block;
    text-decoration: none;
    color: var(--accent-color);
    border: solid 1px var(--secondary-color);
    min-width: 321px;
    max-width: 1023px;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    gap: 5px;
}
.card img {
    grid-area: home-img;
    z-index: -1;
    height: auto;
    max-width: 210px;
    min-width: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 2px 10px 80px -21px #cd51fa;
    animation: heartbeat-shadow 2s ease-in-out;
    align-self: center;
}

.active-tab {
    text-decoration: underline;
    border-radius: 5px;
    font-weight: 800;
}

header p {
    grid-area: header-p;
    text-align: center;
    font-family: var(--title-font);
    color: var(--accent-color);
    font-weight: 300;
    animation: bounce-title 2s ease-in-out infinite;
}

/*#endregion header*/

/*#region home, artists, joinus basic stuff*/

h1 {
    color: var(--accent-color);
    text-align: center;
    font-family: var(--title-font);
    font-weight: 400;
    padding: 15px;
    background: radial-gradient(at center, #cd51fa, #100442);
}

h2,
p {
    color: var(--accent-color);
    text-align: center;
}

button {
    background-color: var(--secondary-color);
    color: var(--secondary-accent-color);
    min-width: 200px;
    min-height: 50px;
    font-weight: bold;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
}

button:hover {
    background-color: var(--secondary-accent-color);
    color: var(--secondary-color);
    border: solid 1px white
}

.section-two,
.section-three {
    border-top: solid 2.5px var(--accent-color);
    padding-top: 50px;
}



.card h2 {
    grid-area: home-h2;
}

.card p {
    grid-area: home-desc;
}

.card button {
    grid-area: home-btn;
}



/* #endregion Home*/

/*#region join us*/
/*Form style*/
form {
    margin: 20px auto;
    margin-bottom: 20px;
    max-width: 600px;
    color: var(--accent-color);
    background-color: var(--main-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid 1px #cd51fa;
}

label,
div {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
}

select,
input[type="text"], input[type="tel"],
textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.rating-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.rating-group label {
    display: flex;
    flex-direction: column-reverse;
    font-size: smaller;
    color: var(--tertiary-accent-color);
    text-align: center;
}


.checkbox-group {
    margin-top: 1rem;
}

.checkbox-group label {
    display: block;
    margin-top: 0.5rem;
}

input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--secondary-accent-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2rem;
    font-weight: 700;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: var(--secondary-accent-color);
    color: var(--secondary-color);
    border: solid 1px var(--accent-color);
   
}
#form-star{
    color: #cd51fa;
}

/*#endregion join us*/

/*Review page*/
.review-container{
    height: calc(80vh - 132.5px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.review-container h2{
    color: var(--accent-color);
    animation: bounce-title 2s ease-in-out infinite;

}
/*review page*/

/*#region Artists Page*/
.artist-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.artistSection{
    margin: auto 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px var(--fourth-color);
    border-radius: 15px;
}

.artistSection h2{
    font-family: var(--title-font);
    font-weight: 450;
}
.artistSection img{
    border-radius: 15px;
}
.artistButtons{
    min-width: 100px;
}
/*#endregion Artist Page*/

/*Footer*/
footer {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer p {
    color: var(--secondary-accent-color);
}

.icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.last-modify {
    margin-bottom: 10px;
}

/*End Footer*/
/*Modal*/
.modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: #00affab7;
}

.modal-content {
  background: var(--fourth-color);
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  animation: fadeIn 0.3s ease;
  text-align: center;
  border: solid 2px var(--accent-color);
}

.closeBtn {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

#modalName, #modalConcerts p{
    color: var(--main-color);
}  
#modalDescription{
    color: var(--secondary-accent-color);
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.95);}
  to {opacity: 1; transform: scale(1);}
}

/*End Modal*/

/*Animations*/
@keyframes bounce-title {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes heartbeat-shadow {
    0% {
        box-shadow: 0 0 20px 5px #cd51fa,
            0 0 40px 10px #481bff;
    }

    25% {
        box-shadow: 0 0 25px 8px #cd51fa,
            0 0 50px 15px #100442;
    }

    50% {
        box-shadow: 0 0 30px 12px #cd51fa,
            0 0 60px 20px #4213fa;
    }

    75% {
        box-shadow: 0 0 22px 6px #cd51fa,
            0 0 45px 12px #100442;
    }

    100% {
        box-shadow: 0 0 20px 5px #cd51fa,
            0 0 40px 10px #100442;
    }
}

@media (min-width: 550px) {
    .card {
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    justify-self: center;
    grid-template-areas:
        "home-img home-h2"
        "home-img home-desc"
        "home-img home-btn";
    margin: auto 50px;
}


.artist-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.artistSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--fourth-color);
}
.artistSection h2, .artistSection p{
    color: var(--main-color);
}

}